.contract-content {
    background-color: #E5E7EB;
    height: 94vh;
    width: auto;
    margin: 2px;
    padding: 10px;
    border-radius: 15px;
    overflow-y: auto; 
    color: #272727;
}

.contract-container {
    background-color: white;
    margin: 10px; 
    width: auto;
    height: auto;
    padding: 20px; 
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
}

.contract-navbar{
    display: flex;
    gap: 10px;
    align-items: center;  
    justify-content: space-between; 
    font-size: 20px;
    margin-bottom: 20PX;
}

.c-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin: 10px;
    color: #262626;
}

.c-table-container {
    background-color: white;
    border-radius: 15px;
    border: 1px solid #B9B9B9;
    padding: 5px;
    margin-top: 10px;
}
  
.c-table-auto {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    padding: 10px;
    overflow-x: auto;
}
  
.c-table-auto th, .c-table-auto td {
  border: 1px solid #e0e0e0;
  padding: 12px;
  text-align: left;
  font-size: 14px;
}
  
.c-table-auto th {
    background-color: #f8f9fa;
}

.c-search-container input {
    width: 250px; 
    height: 30px;
    padding: 10px; 
    border: none; 
    border-radius: 15px; 
    outline: none; 
    color: #262626;
} 
  
.c-filter-container {
    display: flex;
    gap: 10px;
    margin-top: 2px;
    justify-content: flex-end;
}

.c-filter-customer select,
.c-filter-role select{
    padding: 5px;
    border: none;
    border-radius: 15px;
    width: 120px;
    color: #262626;
    outline: none;  
    cursor: pointer;
    font-size: 15px; 
}

.c-filter-customer select{
    width: 150px;
}

.c-dropdown-container{
    margin: 12px;
}

.c-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.c-pagination-container {
    border: 1px solid #b9b9b9;
    width: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.c-pagination-container span {
    font-size: 14px;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #b9b9b9;
    margin: 0 5px;
}

@media (max-width: 1024px) {
    .c-table-container{
      overflow-x: auto;
    }
    .c-table-auto {
      min-width: 900px; /* Pastikan tabel memiliki lebar minimum yang lebih besar dari layar handphone */
      white-space: nowrap; /* Cegah pembungkusan konten */
    }
}
  
/* ukuran handphone */
@media (max-width: 768px) {
  .c-contract-navbar {
    margin-bottom: 10px;
  }

  .c-filter-customer select,
  .c-filter-role select {
    padding: 4px;
  }

  .c-filter-customer select {
    width: 150px;
  }

  .c-search-container input {
    margin-top: 10px;
    margin-bottom: 1px;
  }
  .c-table-container{
    overflow-x: auto;
    font-size: 12px;
  }
  .c-table-auto {
    min-width: 900px; /* Pastikan tabel memiliki lebar minimum yang lebih besar dari layar handphone */
    white-space: nowrap; /* Cegah pembungkusan konten */
  }

  .c-info-container p {
    font-size: 15px;
  }
}
