.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it stays above other content */
}
  
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 1250px;
    position: relative;
}
  
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #b9b9b9;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.modal-body {
    margin-top: 20px;

}
  
.customer-link {
    color: #262626;
    cursor: pointer;
}
  
.customer-link:hover {
    text-decoration: none;
}
  

@media (max-width: 1024px) {
  .modal-content{
    overflow-x: auto;
  }
}

@media (max-width: 768px) {
  .modal-content{
    font-size: 12px;
    overflow-x: auto;
  }

  .close-button {
    position: fixed;
  }
}

