.contract-content {
    background-color: #E5E7EB;
    height: 94vh;
    width: auto;
    margin: 2px;
    padding: 10px;
    border-radius: 15px;
    overflow-y: auto; 
    color: #272727;
}

.contract-container {
    background-color: white;
    margin: 10px; 
    width: auto;
    height: auto;
    padding: 20px; 
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
}

.contract-navbar{
    display: flex;
    gap: 10px;
    align-items: center;  
    justify-content: space-between; 
    font-size: 20px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin: 10px;
    color: #262626;
  }

  .table-container {
    background-color: white;
    border-radius: 15px;
    border: 1px solid #B9B9B9;
    padding: 5px;
    margin-top: 20px;
  }
  
  .table-auto {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    padding: 10px;
    overflow-x: auto;
  }
  
  .table-auto th, .table-auto td {
    border: 1px solid #b9b9b9;
    padding: 8px;
    text-align: left;
    box-shadow: none; /* Remove any shadow */
  }
  
  .table-auto th {
    background-color: rgba(185, 185, 185, 0.5);
  }
  .search-container input {
    width: 250px; 
    height: 30px;
    padding: 10px; 
    border: none; 
    border-radius: 15px; 
    outline: none; 
    color: #262626;
  } 
  
  .filter-container {
    display: flex;
    gap: 10px;
    margin-top: 2px;
    justify-content: flex-end;
  }
  .filter-customer select,
  .filter-tahun select{
    padding: 5px;
    border: none;
    border-radius: 15px;
    width: 120px;
    color: #262626;
    outline: none;  
    cursor: pointer;
    font-size: 15px; 
  }
  .filter-customer select{
    width: 150px;
  }
  .dropdown-container{
    margin: 12px;
  }
  .info-container{
    margin: 12px;
  }
  .pagination-container {
    border: 1px solid #b9b9b9;
    width: 150px; 
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px; 
    gap: 15px; 
  }
  
  .pagination-container span {
    font-size: 14px; 
    background-color: #f0f0f0; 
    padding: 10px 20px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
  }


@media (max-width: 1024px) {
    .table-container{
      overflow-x: auto;
    }
    .table-auto {
      min-width: 900px; /* Pastikan tabel memiliki lebar minimum yang lebih besar dari layar handphone */
      white-space: nowrap; /* Cegah pembungkusan konten */
    }
}
  
/* ukuran handphone */
@media (max-width: 768px) {
  .contract-navbar {
    margin-bottom: 10px;
  }

  .filter-customer select,
  .filter-tahun select {
    padding: 4px;
  }

  .filter-customer select {
    width: 150px;
  }

  .search-container input {
    margin-top: 10px;
    margin-bottom: 1px;
  }
  .table-container{
    overflow-x: auto;
  }
  .table-auto {
    min-width: 900px; /* Pastikan tabel memiliki lebar minimum yang lebih besar dari layar handphone */
    white-space: nowrap; /* Cegah pembungkusan konten */
  }

  .info-container p {
    font-size: 15px;
  }
}
