.data-content{
  background-color: #E5E7EB;
  height: 94vh;
  width: auto;
  margin: 2px;
  padding: 0;
  border-radius: 15px;
  box-sizing: border-box;
  overflow-y: auto;
}

.data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 5px;
    width: auto;
    height: 92%; 
    /* margin-top: -10px; */
    margin-left: 30px;
    margin-right: 30px;
  }

.item {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}

.top-dc{
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}

.filter-dc{
  display: flex;
  gap: 5px;
}

.filter-year-dc {
  margin-right: 10px;
}

.filter-year-dc select, 
.filter-month-dc select,
.server select{
  padding: 5px;
  border: solid 1px #B9B9B9;
  border-radius: 15px;
  width: 80px;
  height: 30px;
  color: #262626;
  outline: none;
  font-size: 13px;  
  cursor: pointer;     
}

.filter-month-dc select{
  width: 120px;
}

.server select{
  width: 110px;
}

select {
  position: relative;
  z-index: 1000;
}


/* Gaya untuk layar tablet */
@media (max-width: 1024px) {
  .data-content {
    height: auto; 
    max-height: 95vh;
  }
  .data-container {
    margin-left: 10px;
    margin-right: 10px;
    height: 600px;
  }

  .data-content {
    margin: 2px;
    height: auto;
  }

  .filter-year-dc select,
  .filter-month-dc select,
  .server select {
    width: 100%;
    height: 30px;
    font-size: 10px;
  }

  .top-dc{
    font-size: 12px;
  }
}


/* Gaya untuk layar handphone */
@media (max-width: 768px) {
  .data-content {
    height: auto; 
    max-height: 100vh;
  }
  .data-container {
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
  }
  p{
    font-size: 14px;
  }
  .filter-year-dc select,
  .filter-month-dc select,
  .server select {
    width: 100%;
    height: 26px;
    font-size: 10px;
    padding: 5px;
  }
}