.kpi-content {
  background-color: #E5E7EB;
  height: 94vh;
  width: auto;
  margin: 0;
  padding: 10px;
  border-radius: 15px;
  overflow-y: auto;
}

.k-menu-sidebar {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.k-navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.k-title {
  display: flex;
  align-items: center; 
  gap: 10px;
  margin-bottom: 20px;
  color: #262626;
  margin: 10px;
  font-size: 20px;
}

.k-filter {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.k-filter select {
  padding: 5px;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.k-container {
  background-color: white;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  margin-left: 70px;
  margin-right: 70px;
  align-items: center;
}

.k-content{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.ring-medium,
.ring-easy,
.ring-hard {
  margin-top: 20px;
  background-color: #DE6E6A;
  color: white;
  font-weight: 500;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  text-align: center;
  align-content: center;
}

.ring-easy{
  background-color: #9EC97F;
}

.ring-medium{
  background-color: #5971C0;
}

.green,
.red,
.blue {
  width: 15px;
  height: 15px;
  background-color: #5971C0;
  margin-top: 5px;
}

.green{
  background-color: #9EC97F;
}

.red{
  background-color: #DE6E6A;
}

.row{
  display: flex;
  gap: 10px;
  align-content: center;
  align-items: center;
}

/* Untuk tablet */
@media (max-width: 1024px) {
  .k-filter {
    margin-right: 10px; 
  }

  .ring-red,
  .ring-green,
  .ring-blue {
    width: 150px; 
    height: 150px;
  }
}

/* Untuk handphone */
@media (max-width: 768px) {

  .k-filter select {
    font-size: 14px;
    padding: 4px;
  }

  .k-content {
    flex-direction: column;
    gap: 15px;
    
  }

  .ring-red,
  .ring-green,
  .ring-blue {
    width: 120px;
    height: 120px;
    font-size: 14px;
  }

  .row {
    gap: 5px; 
  }
}
