.mpti-content {
  background-color: #E5E7EB;
  height: 94vh;
  width: auto;
  margin: 0;
  padding: 10px;
  border-radius: 15px;
  overflow: auto;
}

.m-menu-sidebar {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.m-navbar {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}


.m-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  width: 100%;
  margin: auto;
  padding-top: 0;
  transition: width 0.3s ease;
}

/* CSS untuk Sidebar Ditutup */
.m-sidebar-closed .m-content {
  grid-template-columns: 1fr;
  width: 100%; /* Menjaga lebar penuh saat sidebar ditutup */
}
.value {
  margin-top: 10px;
  color: white;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 90px;
  height: 30px;
}

.value-low {
  background-color: #DE6E6A; /* Red for values below 50% */
}

.value-medium {
  background-color: #5971C0; /* Orange for values 50% and above but below 70% */
}

.value-high {
  background-color: #9EC97F; /* Green for values 70% and above */
}

.content-left {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-detail {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Membagi grid menjadi 4 kolom */
  gap: 16px; /* Spasi antara item */
  width: 100%;
}

.detail-item {
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 15px;
  height: 100px;
  text-align: center;
  padding-top: 20px;
}

.detail-label {
  font-weight: bold;
}

.detail-value {
  display: block;
  margin-top: 4px;
}



.content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.year-selector {
  margin-bottom: 10px;
}

.year-selector select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.select-year {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.year-range {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.year-range select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 45%;
}

.year-range span {
  font-weight: bold;
}

.select-year button {
  padding: 8px;
  border-radius: 5px;
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}

.select-year button:hover {
  background-color: #0056b3;
}

.content-right-top .statistics {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.stat-item {
  text-align: center;
  width: 45%;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 0 5px;
}

.stat-value {
  font-size: 1.2em;
  font-weight: bold;
}

.stat-label {
  color: gray;
}

.right-panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 10px; /* Mengurangi jarak atas */
  margin-bottom: 10px; /* Mengurangi jarak bawah */
  color: #272727;
  font-weight: lighter;
  font-size: 15px;
}

.right-panel div {
  padding: 3px;
  padding-top: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  background-color: #fff;
  height: auto;
}

.right-panel div:hover {
  background-color: #f0f0f0;
}


/* Responsive untuk tablet */
@media (max-width: 768px) {
  .m-content {
    grid-template-columns: 1fr; /* Hanya 1 kolom untuk konten */
  }

  .content-left {
    grid-template-columns: 1fr; /* Sesuaikan kolom agar 1 untuk tablet */
  }

  .right-panel {
    grid-template-columns: 1fr; /* Ubah panel kanan menjadi 1 kolom */
  }

  .stat-item {
    width: 100%; /* Penuh untuk item statistik */
  }

  .card-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Membagi grid menjadi 4 kolom */
    gap: 16px; /* Spasi antara item */
    width: 100%;
  }
}

/* Responsive untuk handphone */
@media (max-width: 480px) {
  .m-navbar {
    font-size: 16px; /* Ubah ukuran font navbar */
    gap: 5px; /* Kurangi jarak antar elemen di navbar */
  }

  .card-detail {
    display: grid;
    grid-template-columns: 1fr ; /* Membagi grid menjadi 4 kolom */
    gap: 16px; /* Spasi antara item */
    width: 100%;
  }

  .content-left {
    grid-template-columns: 1fr; /* Hanya 1 kolom untuk konten di handphone */
  }

  .m-content {
    padding: 5px; /* Kurangi padding untuk konten utama di handphone */
  }

  .content-right {
    padding: 5px; /* Kurangi padding panel kanan di handphone */
  }

  .stat-item {
    width: 100%; /* Penuh untuk item statistik */
    font-size: 0.9em; /* Kurangi ukuran font untuk item statistik */
  }

  .right-panel div {
    padding: 5px; /* Kurangi padding panel kanan */
  }
}

