.kelola-content {
    background-color: #E5E7EB;
    height: 94vh;
    width: auto;
    margin: 2px;
    padding: 10px;
    padding-left: 5px;
    border-radius: 15px;
    overflow-y: auto; 
    color: #272727;
}

.kelola-navbar {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    overflow: hidden;
    margin-bottom: -60px;
}

.t-title {
    display: flex;
    gap: 10px;
    font-size: 20px;
    align-items: center;
    color: #262626;
    flex: 1; 

}

.t-filter-container {
    display: flex;
    gap: 10px;
    align-items: center; 
}

.t-filter-month select,
.t-filter-year select {
    padding: 5px;
    border: none;
    border-radius: 15px;
    color: #262626;
    outline: none;
    height: 30px;
}

.t-filter-month select {
    width: 140px;
}

.t-background-bar {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}

.t-group-tabel-bar {
    display: grid;
    grid-template-rows: 1fr;
    gap: 5px;
    margin-top: 40px;
}

.t-bar {
    display: flex;
    gap: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}

.t-tabel {
    margin-top: -20px;
}

.t-table-container {
    background-color: white;
    border-radius: 15px;
    border: 1px solid #B9B9B9;
    padding: 5px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    overflow-x: auto;
}
  
.t-table-auto {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    padding: 10px;
    overflow-x: auto;
}
  
.t-table-auto th, .t-table-auto td {
    border: 1px solid #b9b9b9;
    padding: 8px;
    text-align: left;
    box-shadow: none; /* Remove any shadow */
}
  
.t-table-auto th {
    background-color: rgba(185, 185, 185, 0.5);
}

.t-group-search {
    display: flex;
    justify-content: space-between;
}

.t-search-container input {
    width: 250px; 
    height: 30px;
    padding: 10px; 
    border: none; 
    border-radius: 15px;
    border: solid 1px #B9B9B9; 
    outline: none; 
    color: #262626;
    margin-top: 10px;
    margin-right: 10px;
} 
  
.t-dropdown-container {
    margin: 12px;
}

.t-info-container {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
}

.t-pagination-container {
    border: 1px solid #b9b9b9;
    width: 150px; 
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px; 
    gap: 15px; 
}
  
.t-pagination-container span {
    font-size: 14px; 
    background-color: #f0f0f0; 
    padding: 10px 20px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
}


/* Handphone (mobile) */
@media (max-width: 768px) {
    .kelola-navbar {
        margin-bottom: -50px;
    }
    .t-filter-container {
        display: flex;
        gap: 10px;
        align-items: center; 
    }
    
    .t-filter-month select,
    .t-filter-year select {
        padding: 2px;
        border: none;
        border-radius: 15px;
        color: #262626;
        outline: none;
        height: 25px;
        width: 80px;
        font-size: 15px;
    }
    
    .t-filter-month select {
        width: 140px;
    }

    .t-title {
        display: flex;
        align-items: center;
        color: #262626;
        flex: 1; /* Memastikan judul memiliki ruang lebih */
        font-size: 16px;
    }
    .t-bar{
        display: grid;

    }
  }
  