@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif ;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  display: flex;
}

.content{
  width: 20vw;
}
.sidebar {
  width: 10%;
  background-color: #FFFFFF;
  color: #262626;
  height: 567px;
  padding: 2px;
  margin-right: 20px;
}

.sidebar img {
  width: 120px; 
  height: auto; 
  padding: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  margin-right: -20px;
}

.sidebar ul li {
  margin: 5px 0;
}

.sidebar ul li a {
  color:#262626;
  text-decoration: none;
  margin-left: 30px;
}

.sidebar ul li a:hover {
  text-decoration: none;
  color: #000084;
  font-weight: 800;
}

.sidebar a.active {
  color:  #000084; /* Ubah warna saat aktif */
  font-weight: 800; /* Jadikan teks bold saat aktif */
}

.content {
  flex-grow: 1;
  padding: 15px;
}

hr{
  border: solid 1px #E5E7EB;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.sidebar-upload{
  background-color: #000084;
  border-radius: 15px;
  height: 30px;
  width: 120px;
  align-content: center;
  cursor: pointer;
}

.sidebar-upload:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Menambahkan bayangan saat hover */
}

/* layar tablet */
@media (max-width: 1024px) {
  .app {
    flex-direction: row; 
  }

  .sidebar {
    width: 18%;
    height: auto;
  }
  .sidebar ul li a {
    margin-left: 0; 
    display: block; 
    padding: 10px; 
    width: auto;
    margin-bottom: -10px;
    margin-top: -10px;
    font-size: 14px;
  }

  .content {
    padding: 1px; 
  }

}

/* Gaya untuk layar handphone */
@media (max-width: 768px) {
  .app {
    flex-direction: row; 
  }

  .sidebar {
    width: 21%;
    height: auto;
  }
  .sidebar ul li a {
    margin-left: 0; 
    display: block; 
    padding: 10px; 
    width: auto;
    margin-bottom: -10px;
    margin-top: -10px;
    font-size: 14px;
  }

  .content {
    padding: 1px; 
  }
}

