*{
  margin: 0;
  overflow: hidden;
}
.app {
  display: flex;
}

.sidebar {
  width: 150px;
  background-color: #FFFFFF;
  color: #262626;
  height: 100vh;
  padding: 2px;
}

.sidebar img {
  width: 130px; 
  height: auto; 
  padding: 10px;
}


.sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color:#262626;
  text-decoration: none;
  margin-left: 30px;
}

.sidebar ul li a:hover {
  text-decoration: none;
  color: #000084;
  font-weight: 800;
}

.sidebar a.active {
  color:  #000084; 
  font-weight: 800; 
}

.content {
  flex-grow: 1;
  padding: 20px;
}

